body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 32px;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

.slide {
    position: relative;
    margin-top: 3rem;
    width: 95%;
    height: 18rem;
    background-image: url('../image/pattern-bg.svg');
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.galeria {
    width: 15rem;
    border-radius: 5px;
    box-shadow: -2px 27px 42px 1px hsl(240, 18%, 77%);
}

.btn {
    position: absolute;
    top: 15rem;
}

.antes {
    margin-right: -9px;
}

.antes,
.depois {
    border: none;
    background-color: white;
    padding: .5rem;
    outline: none;
    width: 3rem;
    cursor: pointer;
}

.antes:hover,
.depois:hover {
    background-color: hsl(240, 100%, 96%);
}

.antes {
    border-radius: 36px 0px 0px 36px;
}

.depois {
    border-radius: 0px 36px 36px 0px;
}

.descrição {
    margin-top: 2rem;
    width: 100%;
    height: 11rem;
    background-image: url("../image/pattern-quotes.svg");
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
    color: hsl(240, 38%, 20%);
}

.container-info {
    background-image: url('../image/pattern-curve.svg');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 100%;
    padding-bottom: 2rem;
}

.container-artigo {
    width: 90%;
    margin: auto;
}

.artigo {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 0rem
}

.info {
    font-size: .8rem;
    font-weight: 700;
}

.job {
    display: block;
    font-size: .8rem;
    font-weight: 700;
    color: hsla(240, 37%, 20%, 0.336);
}

@media(min-width:720px) {
    main {
        flex-wrap: wrap;
        flex-direction: row-reverse;
    }
    .slide {
        width: 50%;
        height: 90%;
        margin: 0;
        background-position: center bottom;
    }
    .galeria {
        width: 28rem;
    }
    .btn {
        top: 30rem;
        left: 11rem;
    }
    .descrição {
        width: 50%;
        height: 50%;
        margin: 0;
        background-position: 20rem top;
        text-align: left;
    }
    .container-artigo {
        text-align: left;
        z-index: 1;
        position: relative;
        left: 14rem;
    }
    .artigo {
        font-size: 1.9rem;
    }
    .info {
        font-size: 1rem;
        margin-left: 16rem;
    }
    .job {
        font-size: 1rem;
        display: inline-block;
        padding-bottom: 11.8rem;
    }
}